
@{
    ViewBag.Title = "TuyenDung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content_pages" class="page_contact" style="margin-top: 250px;">
    <div class="container">
        <div class="all_box">
            <h1 class="title_pages">Liên hệ tuyển dụng</h1>
            <div class="row flex flex-center">
                <div class="col-md-6">
                    <div class="content_ct">

                        <div class="content_post">
                            <p class="p-first-class">
                                <span style="font-size: 14pt;">– Để đăng ký lịch hẹn phỏng vấn trực tiếp, bạn vui lòng điền đầy đủ thông tin theo đường link bên dưới đây : <span style="color: #ffd800;"><a style="color: #ffd800;" href="https://bit.ly/3y8ysyA" rel="nofollow noopener" target="_blank">https://bit.ly/3y8ysyA</a></span></span><br>
                                <span style="font-size: 14pt;">– Để tham khảo mô tả công việc của các vị trí đang tuyển dụng ,bạn vui lòng theo đường link bên dưới: <span style="color: #ffd800;"><a style="color: #ffd800;" href="https://bit.ly/3QwU00j" rel="nofollow noopener" target="_blank">https://bit.ly/3QwU00j</a></span></span><br>
                                <span style="font-size: 14pt;">– Liên hệ hẹn lịch phỏng vấn : <span style="color: #ffd800;"><a style="color: #ffd800;" href="http://zalo.me/0978466615" rel="nofollow noopener" target="_blank">0978.466.615</a></span> ( sms/ zalo)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form_ct">
                        <h3>Liên hệ ứng tuyển ngay</h3>
                        <div role="form" class="wpcf7" id="wpcf7-f5-o1" lang="vi" dir="ltr">
                            <div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
                            <form action="/lien-he/#wpcf7-f5-o1" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="5">
                                    <input type="hidden" name="_wpcf7_version" value="5.6.1">
                                    <input type="hidden" name="_wpcf7_locale" value="vi">
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-o1">
                                    <input type="hidden" name="_wpcf7_container_post" value="0">
                                    <input type="hidden" name="_wpcf7_posted_data_hash" value="">
                                </div>
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap" data-name="text-948"><input type="text" name="text-948" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input" aria-required="true" aria-invalid="false" placeholder="Họ và tên"></span>
                                </div>
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap" data-name="email-460"><input type="email" name="email-460" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email input" aria-required="true" aria-invalid="false" placeholder="E-mail"></span>
                                </div>
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap" data-name="tel-339"><input type="tel" name="tel-339" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel input" aria-required="true" aria-invalid="false" placeholder="Số điện thoại"></span>
                                </div>
                                <div class="form-group">
                                    <span class="wpcf7-form-control-wrap" data-name="textarea-413"><textarea name="textarea-413" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea input" aria-invalid="false" placeholder="Nội dung"></textarea></span>
                                </div>
                                <div class="form-button">
                                    <input type="submit" value="Gửi đi" class="wpcf7-form-control has-spinner wpcf7-submit button"><span class="wpcf7-spinner"></span>
                                </div><div class="wpcf7-response-output" aria-hidden="true"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

